In [1]:
import pandas as pd
import numpy as np

In [2]:
# Create an empty dataframe
data = pd.DataFrame()

# Create our target variable
data['Gender'] = ['male','male','male','male','female','female','female','female']

# Create our feature variables
data['Height'] = [6,5.92,5.58,5.92,5,5.5,5.42,5.75]
data['Weight'] = [180,190,170,165,100,150,130,150]
data['Size'] = [12,11,12,10,6,8,7,9]
data['Team'] = ['i100','i100','i500','i100','i500','i100','i500','i100']

# View the data
data

   Gender  Height  Weight  Size  Team
0    male    6.00     180    12  i100
1    male    5.92     190    11  i100
2    male    5.58     170    12  i500
3    male    5.92     165    10  i100
4  female    5.00     100     6  i500
5  female    5.50     150     8  i100
6  female    5.42     130     7  i500
7  female    5.75     150     9  i100

In [3]:
person = pd.DataFrame()

# Create some feature values for this single row
person['Height'] = [6]
person['Weight'] = [130]
person['Size'] = [8]
person['Gender'] = ['female']
# View the data 
person

   Height  Weight  Size  Gender
0       6     130     8  female

In [4]:
df1 = data.groupby(['Team','Gender']).size().rename('cnt').reset_index().set_index('Team')
df2 = pd.DataFrame(data.groupby(['Team']).size().rename('total'))

df3 = df1.merge(df2,left_index=True,right_index=True)
df3['p'] = df3['cnt'] * 1.0 /df3['total']
df3=df3.reset_index()
df3

   Team  Gender  cnt  total         p
0  i100  female    2      5  0.400000
1  i100    male    3      5  0.600000
2  i500  female    2      3  0.666667
3  i500    male    1      3  0.333333

In [5]:
def p_x_given_y_1(team,gender):
     return df3['p'][df3['Team'] == team][df3['Gender']== gender].values[0]

p_x_given_y_1('i100','female')

0.4

In [6]:
#计算先验
# Number of i100
n_i100 = data['Team'][data['Team'] == 'i100'].count()

# Number of i500
n_i500 = data['Team'][data['Team'] == 'i500'].count()

# Total rows
total_ppl = data['Team'].count()

In [7]:
# Number of males divided by the total rows
P_i100 = n_i100*1.0/total_ppl

# Number of females divided by the total rows
P_i500 = n_i500*1.0/total_ppl

print P_i100,P_i500

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (861666737.py, line 7)

In [ ]:
# Group the data by gender and calculate the means of each feature
data_means = data.groupby('Team').mean()

# View the values
data_means

In [ ]:
# Group the data by gender and calculate the variance of each feature
data_variance = data.groupby('Team').var()

# View the values
data_variance

In [ ]:
#计算我们需要的均值方差
# Means for i100
i100_height_mean = data_means['Height'][data_means.index == 'i100'].values[0]
i100_weight_mean = data_means['Weight'][data_means.index == 'i100'].values[0]
i100_size_mean = data_means['Size'][data_means.index == 'i100'].values[0]

# Variance for i100
i100_height_variance = data_variance['Height'][data_variance.index == 'i100'].values[0]
i100_weight_variance = data_variance['Weight'][data_variance.index == 'i100'].values[0]
i100_size_variance = data_variance['Size'][data_variance.index == 'i100'].values[0]

# Means for i500
i500_height_mean = data_means['Height'][data_means.index == 'i500'].values[0]
i500_weight_mean = data_means['Weight'][data_means.index == 'i500'].values[0]
i500_size_mean = data_means['Size'][data_means.index == 'i500'].values[0]

# Variance for i500
i500_height_variance = data_variance['Height'][data_variance.index == 'i500'].values[0]
i500_weight_variance = data_variance['Weight'][data_variance.index == 'i500'].values[0]
i500_size_variance = data_variance['Size'][data_variance.index == 'i500'].values[0]

In [ ]:
#接下来，我们写个公式来计算高斯分布的概率

def p_x_given_y_2(x, mean_y, variance_y):

    # Input the arguments into a probability density function
    p = 1/(np.sqrt(2*np.pi*variance_y)) * np.exp((-(x-mean_y)**2)/(2*variance_y))
    
    # return p
    return p
person['Gender'][0]

In [ ]:
P_i100 * p_x_given_y_1('i100',person['Gender'][0]) * \
p_x_given_y_2(person['Height'][0], i100_height_mean, i100_height_variance) * \
p_x_given_y_2(person['Weight'][0], i100_weight_mean, i100_weight_variance) * \
p_x_given_y_2(person['Size'][0], i100_size_mean, i100_size_variance)

In [ ]:
# Numerator of the posterior if the unclassified observation is a female
P_i500 * p_x_given_y_1('i500',person['Gender'][0]) *\
p_x_given_y_2(person['Height'][0], i500_height_mean, i500_height_variance) * \
p_x_given_y_2(person['Weight'][0], i500_weight_mean, i500_weight_variance) * \
p_x_given_y_2(person['Size'][0], i500_size_mean, i500_size_variance)

In [ ]:
9.815927236658199e-05 >3.9059158012458166e-05